<form id="currentPayrollVariablesForm" method="post" data-parsley-validate>
    <!-- Modal -->
    <div class="modal fade animated fadeInRight custo-fadeInRight show" id="currentPayrollVariablesModal"
        data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm  modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-dollar-sign">
                        <line x1="12" y1="1" x2="12" y2="23"></line>
                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                    </svg>
                    <h5 class="modal-title" id="exampleModalLabel">Set Payroll Variables</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label class="control-label" for="Edit_Name">Personnel Name <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="Edit_Name" readonly value="">
                            <input type="text" name="PayrollId" hidden id="Payroll_Id" value="">
                            <input type="text" name="PersonnelId" hidden id="Personnel_Id" value="">
                        </div>
                        <div class="form-group col-sm-12 tb-alternating">
                            <label class="control-label" for="Edit_DaysWorked">Days Worked <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" required id="Edit_DaysWorked" min="1" max="30" type="text"
                                data-parsley-errors-container="#daysWorked_error"
                                data-parsley-trigger-after-failure="change"
                                data-parsley-required-message="Days worked is required"
                                data-parsley-min-message="Days worked should be not < a day"
                                data-parsley-max-message="Days worked should not be > 30 days" name="DaysWorked" />
                            <span id="daysWorked_error"></span>
                        </div>
                        <div class="form-group col-sm-12 tb-alternating">
                            <label class="control-label" for="Edit_DailyRate">Daily Rate <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" min="500" type="number" id="Edit_DailyRate" required
                                data-parsley-errors-container="#dailyRate_error"
                                data-parsley-trigger-after-failure="change"
                                data-parsley-required-message="Daily rate is required."
                                data-parsley-min-message="Daily rate should not be less than 500" name="DailyRate"
                                value="">
                            <span id="dailyRate_error"></span>
                        </div>
                        <div class="form-group col-sm-12 tb-alternating">
                            <label class="control-label" for="Edit_DailyRate">Vessel <span
                                    class="text-danger">*</span></label>
                            <input class="form-control" type="text" id="Edit_Vessel" required
                                data-parsley-required-message="Vessel is required." name="Vessel" value="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center" id="loader">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i>
                        Discard</button>
                    <button id="editBtn" asp-page-handler="SetCurrentPayrollVariables"
                        class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>