<!-- Modal -->
<div class="modal fade animated fadeInDown custo-fadeInDown show payrollPrintModal" id="payrollPrintModal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-file">
                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                    <polyline points="13 2 13 9 20 9"></polyline>
                </svg>
                <h5 class="modal-title" id="exampleModalLabel">Personnel Payslip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5 col-4">
                        <h4 class="page-title">Payslip</h4>
                    </div>
                    <div class="col-sm-7 col-8 text-right m-b-30">
                        <button class="btn btn-white btn-lg" id="printBtn"><i class="fa fa-print fa-lg mr-2"></i>
                            Print</button>
                    </div>
                </div>
                <div class="row" id="salaryContainer">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h4 class="payslip-title">Payslip for <span id="dateTitle"></span></h4>
                            <div class="row">
                                <div class="col-sm-6 m-b-20">
                                    <img src="/assets/img/logo-dark.png" class="inv-logo" alt="">
                                    <ul class="list-unstyled m-b-0">
                                        <li>E.A Temile and Sons Dev. Co. Nig Limited</li>
                                        <li>Queens Drive, Ekurede,</li>
                                        <li>Urhobo, Warri</li>
                                        <li>Delta State, Nigeria</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 m-b-20">
                                    <div class="invoice-details">
                                        <h3 class="text-uppercase">
                                            Payslip #<span class="text-uppercase"
                                                           id="paySlipNumber"></span>
                                        </h3>
                                        <ul class="list-unstyled">
                                            <li><span class="font-weight-bold">Salary Period:</span> <span id="date"></span></li>
                                            <li>
                                                <span class="font-weight-bold">No. of days worked:</span>
                                                <span id="daysWorked"></span> (<span id="workedWeekend"></span>)
                                            </li>
                                            <li>
                                                <span class="font-weight-bold">Vessel worked on:</span>
                                                <span id="vessel"></span> Vessel
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 m-b-10">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="m-b-0"><strong><span id="personnelName"></span></strong></h5>
                                        </li>
                                        <li><span id="personnelDesignation"></span></li>
                                        <li>Personnel ID: <span id="personnelId"></span></li>
                                        <li>Joining Date: <span id="personnelDateJoined"></span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 m-b-20 invoice-details">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="m-b-0"><strong>Bank Details</strong></h5>
                                        </li>
                                        <li><strong>Bank Name:</strong> <span id="bank"></span></li>
                                        <li><strong>Account Name:</strong> <span id="accountName"></span></li>
                                        <li><strong>Account Number:</strong> <span id="accountNumber"></span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <h6 class="m-b-10"><strong>Earnings Summary</strong></h6>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <strong>Daily Rate</strong> <span id="dailyRate"
                                                                                          class="float-right"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Days Worked</strong> <span id="daysWorked2"
                                                                                           class="float-right"></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <strong>Basic Salary</strong> <span id="grossPay"
                                                                                            class="float-right"></span>
                                                    </td>
                                                </tr>
                                                <tr id="rowAllowancesTable" hidden>
                                                    <td>
                                                        <p class="m-b-10"><strong>Allowances</strong></p>
                                                        <table class="table table-bordered">
                                                            <tbody id="allowances">
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr class="summation">
                                                    <td>
                                                        <strong>Total Earnings</strong> <span class="float-right">
                                                            <strong>
                                                                <span id="totalEarnings"></span>
                                                            </strong>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <h6 class="m-b-10" hidden id="deductionsTitle"><strong>Deductions</strong></h6>
                                        <table class="table table-bordered">
                                            <tbody id="deductions">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <p>
                                        <strong>Net Salary: <span id="netPay"></span></strong> (<span id="netPayInWords"></span>.)
                                    </p>
                                </div>
                            </div>
                            <div class="row signature-row d-flex justify-content-between mx-4">
                                <div class="signature mb-5">Accountant's Siganture and Date</div>
                                <div class="signature mb-5">Crew's Siganture and Date</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" id="loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>