@page "{handler?}"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="page-header">
    <div class="page-title">
        <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <p class="text-danger">You do not have access to this resource.</p>

    </div>
</div>