@page "{handler?}"
@model LockedModel
@{
    ViewData["Title"] = "Account Disabled";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Account has been locked, kindly contact your Administrator.</p>
</header>
