.cal-icon:after {
    background: transparent url("img/calander.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 19px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    width: 17px;
}

.cal-icon {
    position: relative;
    width: 100%;
}

.time-icon:after {
    background: transparent url("img/clock.png") no-repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 19px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    width: 19px;
}

.time-icon {
    position: relative;
    width: 100%;
}
