<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Temile and Sons </title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/forms/switches.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
</head>

<body class="form">
    @RenderBody()
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/authentication/form-2.js"></script>
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>

@* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false) *@