<script>
    $(document).ready(function () {
        var message = $('#message-body').val();
        var title = $('#message-title').val();
        var type = $('#message-icon').val();

        if (message) {
            var div = document.createElement("div");
            div.innerHTML = message;
            if (message.includes("New Password is")){
                var span = document.createElement("span");
                span.innerHTML = '<br> <a class="mb-2 btn btn-copy btn-primary" href="javascript:;" data-clipboard-action="copy" ' +
                    'data-clipboard-target=".password"> Copy password to clipboard</a>';
                div.append(span);
            }
            swal({
                title: title,
                content: div,
                closeOnClickOutside: false,
                icon: type,
                button: "Ok",

            }).then(function (value) {
                if (message.includes("logout")) {
                    swal({
                        title: "Logout Prompt",
                        text: "Do you want to logout right now?",
                        closeOnClickOutside: false,
                        buttons: {
                            Yes: true,
                            No: true,
                        },
                    }).then(function (value) {
                        switch (value) {
                            case "Yes":
                                location.href = "/";
                                break;
                            default:
                                break;
                        }
                    });
                }
            });
        }
    });
</script>